codegen
*.pyc
*.tar.gz
*.DS_Store

Client/*Frameworks/*
Client/*.XcodeSupport*
Client/*Build/*
Client/*.sublime-workspace
Client/*.sublime-project
Client/*target
Client/*.xcodeproj
Client/.cappenvs/*
Client/Resources/*.cib
Client/features
Client/Docker/app
Client/Models/*

