codegen
*.pyc
*.tar.gz
*.DS_Store

Client/Frameworks/*
Client/Build/*
Client/Resources/*.cib
Client/Resources/*.blend
Client/Docker/app
Client/*.XcodeSupport*
Client/*.xcodeproj
Client/.cappenvs/*

Client/Models/*
