[submodule "Client/Libraries/NUKit"]
	path = Client/Libraries/NUKit
	url = https://github.com/nuagenetworks/nukit.git
[submodule "Client/Libraries/TNKit"]
	path = Client/Libraries/TNKit
	url = https://github.com/archipelproject/tnkit.git
[submodule "Client/Libraries/Bambou"]
	path = Client/Libraries/Bambou
	url = https://github.com/nuagenetworks/objj-bambou.git
[submodule "Client/Libraries/Cappuccino"]
	path = Client/Libraries/Cappuccino
	url = https://github.com/cappuccino/cappuccino.git
